@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot') format('embedded-opentype'), url('../iconfont/iconfont.woff2') format('woff2'), url('../iconfont/iconfont.woff') format('woff'), url('../iconfont/iconfont.ttf') format('truetype'), url('../iconfont/iconfont.svg') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#header {
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: relative;
  box-sizing: border-box;
}
#header > div {
  width: 165px;
  height: 60px;
}
#header > div > a {
  display: block;
  padding: 10px 15px;
  color: #f50514;
  font-size: 40px;
}
#header > .nav {
  width: 462px;
  height: 60px;
  margin-left: 305px;
}
#header > .nav > li {
  float: left;
  line-height: 60px;
  text-align: center;
  vertical-align: top;
}
#header > .nav > li:nth-child(1):hover .sub-1 {
  display: block;
}
#header > .nav > li:nth-child(2):hover .sub-2 {
  display: block;
}
#header > .nav > li > a {
  display: inline-block;
  height: 60px;
  padding: 0 20px;
  font-size: 14px;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  color: #000;
}
#header > .nav > li > a:hover {
  border-bottom-color: #f50514;
}
#header > .nav > li > a:nth-last-of-type(1) {
  padding-right: 19px;
}
#header > .nav > li > a > i {
  font-size: 28px;
  vertical-align: top;
}
#header > .nav > li > .sub-1 {
  width: 100%;
  height: 160px;
  position: absolute;
  left: 0;
  top: 60px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  display: none;
  z-index: 1000;
}
#header > .nav > li > .sub-1 > .subnav {
  width: 510px;
  height: 100%;
  margin: 0 auto;
}
#header > .nav > li > .sub-1 > .subnav > li {
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
#header > .nav > li > .sub-1 > .subnav > li > a {
  color: #000;
}
#header > .nav > li > .sub-1 > .subnav > li > a > p {
  font-size: 26px;
  margin: 30px 0;
}
#header > .nav > li > .sub-1 > .subnav > li > a > span {
  font-size: 14px;
}
#header > .nav > li > .sub-1 > .subnav > li:hover a {
  color: #f50514;
}
#header > .nav > li > .sub-2 {
  width: 100%;
  height: 160px;
  position: absolute;
  left: 0;
  top: 60px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: none;
  box-sizing: border-box;
  z-index: 1000;
}
#header > .nav > li > .sub-2 > .subnav {
  width: 820px;
  height: 100%;
  margin: 0 auto;
}
#header > .nav > li > .sub-2 > .subnav > li {
  float: left;
  width: 16.6%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
#header > .nav > li > .sub-2 > .subnav > li > a {
  color: #000;
}
#header > .nav > li > .sub-2 > .subnav > li > a > p {
  font-size: 26px;
  margin: 30px 0;
}
#header > .nav > li > .sub-2 > .subnav > li > a > span {
  font-size: 14px;
  line-height: 30px;
}
#header > .nav > li > .sub-2 > .subnav > li:hover a {
  color: #f50514;
}
#header > .user {
  width: 120px;
  height: 60px;
}
#header > .user > li {
  float: left;
  height: 100%;
  width: 50%;
  line-height: 60px;
}
#header > .user > li:nth-child(1):hover .sub-3 {
  display: block;
}
#header > .user > li:nth-child(2):hover .sub-4 {
  display: block;
}
#header > .user > li > a {
  display: inline-block;
  height: 100%;
  font-size: 23px;
  color: #000;
  padding: 0 16px;
  border-bottom: 3px solid transparent;
}
#header > .user > li > a:hover {
  border-bottom-color: #f50514;
}
#header > .user > li > .sub-3 {
  position: absolute;
  top: 60px;
  right: 0;
  width: 320px;
  height: 260px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: none;
  z-index: 1000;
}
#header > .user > li > .sub-3 > li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
#header > .user > li > .sub-3 > li > a {
  font-size: 14px;
  color: #828282;
}
#header > .user > li > .sub-3 > li > a:hover {
  color: #000;
}
#header > .user > li > .sub-3 > li:nth-of-type(4) {
  text-align: right;
}
#header > .user > li > .sub-3 > li:nth-of-type(4) > a:hover {
  text-decoration: underline;
  color: #3976b3;
}
#header > .user > li > .sub-4 {
  width: 400px;
  height: 360px;
  position: absolute;
  top: 60px;
  right: 0;
  border: 1px solid #ccc;
  display: none;
  z-index: 1000;
  background: #fff;
}
#header > .user > li > .sub-4 > .sub-4-top {
  height: 50px;
  margin: 0 10px;
  border-bottom: 5px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 50px;
}
#header > .user > li > .sub-4 > .sub-4-mid {
  width: 100%;
  height: 210px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-top: 70px;
  box-sizing: border-box;
}
#header > .user > li > .sub-4 > .sub-4-mid > p:nth-child(1) {
  font-size: 60px;
  color: #ccc;
}
#header > .user > li > .sub-4 > .sub-4-mid > p:nth-child(2) {
  font-size: 18px;
  color: #828282;
}
#header > .user > li > .sub-4 > .sub-4-bot {
  width: 100%;
  height: 100px;
}
#header > .user > li > .sub-4 > .sub-4-bot > p {
  width: 360px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 30px auto;
  border: 1px solid #000;
  box-sizing: border-box;
}
